.item {
  direction: auto;
  font-family: "Lalezar", cursive;

  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #c2e7f0;
}

.item:last-of-type {
  border-bottom: none;
}

.item figure {
  margin: 0;
  padding: 0;
  width: 70%;
}

.item blockquote {
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
  color: #212929;
}

.item p {
  margin: 0;
  margin-bottom: 0.25rem;
}

.item figcaption {
  font-style: italic;
  color: #566d6d;
  /* color: red; */
}
.btn {
  align-self: center;
  text-decoration: none;
  background-color: teal;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid teal;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

@media (width<500px) {
  .btn {
    padding: 0.5rem 1rem;
    margin: auto;
  }

  .item {
    gap: 0.5rem;
    color: red;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .item figure {
    padding: inherit 0;
    width: auto;
    align-self: flex-start;
    /* margin-bottom: 1.5rem; */
  }
}
